@page
@model Proiect.Pages.StocPieses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StocPiese[0].NumePiesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StocPiese[0].CodPiesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StocPiese[0].BucatiPiesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StocPiese[0].Pret)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StocPiese) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumePiesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPiesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BucatiPiesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
